*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    padding: 5rem;
    background-color: rgb(60, 59, 59);
}
header{
    background-image: url(../img/pinkFloyd.webp);
    background-size: cover;
    opacity: 70%;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    color: white;
    text-align: justify;
    font-size: 20px;
}
.banda{
    padding-top: 20px;
    padding-bottom: 20px;
}
.sobre-banda{
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bolder;
    font-size: 32px;
}
.musicas{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.musica-link{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}
.clipes{
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 60px;
    gap: 40px;
}
iframe{
    padding-top: 40px;
}
audio{
    padding-top: 40px;
}
h1{
    font-size: 100px;
    color: white;
    background-color: black;
    border-radius: 15px;
}